<p id="notice"><%= notice %></p>

<p>
  <strong>Lunch date:</strong>
  <%= @blind_date.lunch_date %>
</p>

<%= link_to 'Edit', edit_blind_date_path(@blind_date) %> |
<%= link_to 'Back', blind_dates_path %>
